body, html, #app {
    height: 100%
}

body {
    margin: 0
}

body, h1, input, ol, ul, #app {
    margin: 0
}

/*h1, h2, p {
  color: white;
  font-family: verdana;
}*/
h1, h2 {
  margin-top: 0px;
}

p {
  margin-top: 0px;
}

#header {

    margin-top: 5px;
    padding-left: 4px;
    /*border radius for rounded corners*/

}

#todo_container {
    /* text is affected by opacity as well*/

    margin-top: 5px;
    padding-left: 4px;
    /*border radius for rounded corners*/

}

#weather_container {

    padding-left: 4px;


}

.footer {

    padding-left: 4px;
    margin-top: 5px;

}

.weather_heading {
    margin-bottom: 2px;
}

.fadein {
    -webkit-animation: fadein 2s ease 0s forwards
}

.fadeslow {
  -webkit-animation: fadein 3s ease 0s forwards
}
