html {
    background: url('https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#app-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
}

p {
  text-shadow: 0 0 5px lightgreen;
  width: 100%;
  color: black;
}

#todo_container {
    background-color: grey;
    opacity: 0.5;
    width: 200px;
    padding-left: 4px;
    /*border radius for rounded corners*/
    border-radius: 5px;
}
