body {
  height: 100%;
  background-image: url('https://drscdn.500px.org/photo/119711361/m%3D2048/ee95ce594ec9561c5e54ebd30ab7926d');
  background-color: transparent;
  background-repeat: no-repeat
}

h1 {
  color: white;
}

p {
  color: green;
}
