body, html, #app {
    height: 100%
}

body {
    margin: 0
}

body, h1, input, ol, ul, #app {
    margin: 0
}





/*body {
    background: url('https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

body, #app {
    min-height: 100%;
}

/*#app-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}*/

h1 {
  color: white;
}

p {
  margin-top: 0px;
  text-shadow: 0 0 5px lightgreen;
  width: 100%;
  color: black;
}

#header {
    background-color: #eee;
    /* text is affected by opacity as well*/
    opacity: 0.8;
    width: 200px;
    padding-left: 4px;
    /*border radius for rounded corners*/
    border-radius: 5px;
}

#todo_container {
    background-color: #eee;
    /* text is affected by opacity as well*/
    width: 200px;
    padding-left: 4px;
    /*border radius for rounded corners*/
    border-radius: 5px;
}

#weather_container {
    background-color: #eee;
    width: 200px;
    padding-left: 4px;
    /*border radius for rounded corners*/
    border-radius: 5px;
}

.footer {
    background-color: #eee;
    width: 200px;
    padding-left: 4px;
    /*border radius for rounded corners*/
    border-radius: 5px;
}

.weather_heading {
    margin-bottom: 2px;
}
